{% extends 'base.html' %}
{% block title %}
  Market page
{% endblock %}


{% block content %}
<div class="row"  style="margin-top:20px; margin-left:20px">
  <div class="col-8">
                <h2>Available Items on the market</h2> <!-- second header in very bigg letters-->
                <p>Click one of the Items to start buying</p> <!--paragraph-->
                <br>
              <table class="table table-hover table-dark">
    <thead>
        <tr>
            <!-- Your Columns HERE -->
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Barcode</th>
            <th scope="col">Price</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        <!-- Your rows inside the table HERE: -->
            {% for item in items %}
            {% include 'includes/items_modals.html' %}
         <tr> <!-- table raw tags-->
                <td>{{ item.id}}</td><!-- reference for the <th scope = "col">Id</th> и каждой и рядков // td - table data, tr - table raw-->
                <td>{{ item.name}}</td>
                <td>{{ item.barcode}}</td>
                <td>{{ item.price}}$</td>
                <td>
                    <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#Modal-MoreInfo-{{ item.id }}">More Info</button>
                    <button class="btn btn-outline btn-success" data-toggle="modal" data-target="#Modal-PurchaseConfirm-{{ item.id }}">Purchase this Item</button>

                </td>

            </tr>
            {% endfor%}

    </tbody>
</table>
  </div>
  <div class="col-4">  <!--displaying current user owned tems-->
     <h2>Owned Items </h2> <!-- second header in very bigg letters-->
     <p>Click on sell to put the item back on the market</p> <!--paragraph-->
     <br>
      <div class="row"> <!--row-->
        {% for owned_item in owned_items %}
          {% include 'includes/owned_items_modals.html' %}
        <div class="col-md-5">
            <div style="margin-bottom: 4px" class="card text-center bg-dark">
                      <div class="card-body">
                          <h5 class="card-title">{{ owned_item.name }}</h5>
                          <button type="button" class="btn btn-outline-danger" style="margin-bottom: 5px"
                                  data-toggle="modal" data-target="#Modal-SellingConfirm-{{ owned_item.id }}">
                              Sell this Item
                          </button>
                          <p class="card-text"><strong>
                              This item costs {{ owned_item.price }}$
                          </strong></p>
                      </div>

                  </div>
             </div>
            {%endfor%}
        </div>
      </div>
  </div>
{% endblock %}
